
# Ignore Windows VM
#####################
vm/.vagrant
*sfx
*rar
*ova

# Ignore atom-shell and modules
################################
atom-shell/
src/elkarbackup-agent/node_modules/

# Ignore Cygwin files
#######################
src/elkarbackup-agent/cygwin-files/
