.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: #2d3f50;
}

.header .logo {
  padding-left: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #929292;
}

.container {
  width: auto;
  padding: 0 15px;
  padding-top: 75px;
}

.btn-elkarbackup {
  background: #2d3f50;
  border-color: #2d3f50;
  color: #fff;
}

.btn-elkarbackup:active,
.btn-elkarbackup:focus,
.btn-elkarbackup:hover {
  background: #1e2a36;
  border-color: #1e2a36;
  color: #fff;
}

.btn-eb-ok {
  margin-top: 30px;
  width: 90px;
}
